.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    margin: .1rem;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  .like {
    background-color: #3b4cca;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .like:hover {
    background-color: #2a369a;
  }
  
  .dislike {
    background-color: #cc0000;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dislike:hover {
    background-color: #a30000;
  }
  