.card {
  background: linear-gradient(10deg, var(--primary), #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  max-width: 250px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



.image {
  border: 4px solid #f3f306;
  background-color: #FFFFFF;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}


.name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--secondary);
  font-family: "Press Start 2P";
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:active {
  transform: scale(0.95);
}

.like {
  background-color: #3b4cca;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.like:hover {
  background-color: #2a369a;
}

.dislike {
  background-color: #cc0000;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dislike:hover {
  background-color: #a30000;
}